.wp-block-hd-spotlight-header {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;

	&:not(.block-editor-block-list__block) {

		@media (min-width: 1024px) {
			cursor: none;

			&:has(.hd-spotlight-pointer.is-hidden) {
				cursor: auto;
			}
		}
	}

	@media (max-width: 1023px) {
		display: none;
	}
}

.hd-spotlight-pointer {
	position: absolute;
	inset: 0;
	background-image: radial-gradient(circle at 50% 50%, transparent 130px, rgb(255, 255, 255) 130px);
	pointer-events: none;
	mix-blend-mode: destination-out;
	opacity: 1;
	transition: opacity 1s ease;
	visibility: visible;

	&.is-hidden {
		opacity: 0;
		animation: revealContent 0.5s ease forwards;
		visibility: hidden;
	}

	@media (max-width: 1023px) {
		display: none;
	}
}

@keyframes revealContent {

	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}
